.thumbnailPhotoArea {
  margin: 0 auto;
  width: 534px;
  padding: 32px 0;

  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 42px;
}
.thumbnailPhoto {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
}
.titleThumbilPhoto {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  color: #787878;
}

.favoriteButton {
  width: 32px;
  height: 32px;
  background: white;

  margin: 8px;
  border-radius: 50%;
}
.favoriteButton > svg {
  fill: #d0d0d0;
}
.foggingScreen {
  top: 0;
  background: rgba(0, 0, 0, 0.47);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.foggingScreen button {
  position: absolute;
  top: 32px;
  right: 40px;
  width: 26px;
  height: 26px;
  background: url("./images/cross.svg");
  border: none;
}