.foggingScreen {
  top: 0;
  background: rgba(0, 0, 0, 0.47);
  position: absolute;
  width: 100vw;
  height: 100vh;
}
.foggingScreen button {
  position: absolute;
  top: 32px;
  right: 40px;
  width: 26px;
  height: 26px;
  background: url("./images/cross.svg");
  border: none;
}