html {
    /* антисмещение при появлении scrollbar */
    margin-right: calc(-1 * (100vw - 100%));
    overflow-x: hidden;

    font-family: "Roboto";
    font-style: normal;
}
body {
    background: #e4eff7;
}
* {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
}
h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
h6 {
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
}
p {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBlock {
    width: 936px;
    margin: 56px 0;
    min-height: 887px;
    background: white;
    box-shadow: 0px 13px 19px rgba(105, 172, 201, 0.24);
    border-radius: 8px;
    box-sizing: border-box;
}

#mainBlock header {
    
    height: 55px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
#mainBlock header button {
    height: inherit;

    background: rgba(255, 255, 255, 0.5);
    color: #1c1c1c;

    border-radius: 8px 8px 0px 0px;
    border: 0;

    gap: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
#mainBlock header .active {
    background: white;
}

.userList{
    padding: 16px 0px 16px 8px;
}
.dropOutLineContent {
    min-height: 80px;
    display: flex;
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
}

.dropOutLine .dropOutLineContent{
    padding-left: 60px;
}
.dropOutLine .dropOutLine .dropOutLineContent{
    padding-left: 120px;
}
.dropOutLineContent .marker {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.blockAreaCenter {
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnailPhotoArea {
    margin: 0 auto;
    width: 534px;
    padding: 32px 0;

    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 42px;
}
.thumbnailPhoto {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: row-reverse;
}
.titleThumbilPhoto {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #787878;
}

.favoriteButton {
    width: 32px;
    height: 32px;
    background: white;

    margin: 8px;
    border-radius: 50%;
}
.favoriteButton > svg {
    fill: #d0d0d0;
}

.foggingScreen {
    top: 0;
    background: rgba(0, 0, 0, 0.47);
    position: absolute;
    width: 100vw;
    height: 100vh;
}
.foggingScreen button {
    position: absolute;
    top: 32px;
    right: 40px;
    width: 26px;
    height: 26px;
    background: url("./images/cross.svg");
    border: none;
}
.favoriteList{
    padding-top: 80px;
}

.favoritesListEmty {
    margin: auto;
    margin-top: 235px;
}
.favoritesListEmty img {
    width: 264px;
    height: 198px;
    margin: auto;
}
.favoritesListEmty h6 {
    margin-top: 32px;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
}
.favoritesListEmty p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
}

.loadCicle {
    width: 48px;
    height: 48px;
    display: block;
    margin: auto;
}