body {
    background: #e4eff7;

    font-family: "Roboto";
    font-style: normal;
    display: flex;
    justify-content: center;
    padding: 56px 0;
}
* {
    padding: 0;
    margin: 0;
}
h1{
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
}
h2{
    font-weight: 400;
font-size: 18px;
line-height: 130%;
}
h6{
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
}
p{
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainBlock {
    width: 936px;
    min-height: 887px;
}
#mainBlock header {
    height: 55px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
#mainBlock header button {
    background: rgba(255, 255, 255, 0.5);
    height: inherit;
    border-radius: 8px 8px 0px 0px;
    border: 0;
    color: #1c1c1c;
    gap: 8px;

    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
}
#mainBlock header .active {
    background: white;
}

#mainBlock > section {
    flex: 1;
    background: white;
    box-shadow: 0px 13px 19px rgba(105, 172, 201, 0.24);
    border-radius: 0px 0px 8px 8px;
}
.dropOutLine {
    min-height: 80px;
    display: flex;
    gap: 32px;
    align-items: center;
    padding-left: 72px;

    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
}
.dropOutLine .marker {
    background: #117dc1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    color: white;
    width: 32px;
    height: 32px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.dropOutLine .droppedMark {
    background: #ffaf37;
}
.dropped {
    min-height: 328px;
    margin-left: 66px;
}

.loadCicle {
    width: 48px;
    height: 48px;
    display: block;
    margin: auto;
}
.thumbnailPhotoArea {
    margin: auto;
    width: 534px;
    padding: 32px 0;

    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 42px;
}
.thumbnailPhoto {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    display: flex;
    flex-direction: row-reverse;
}
.titleThumbilPhoto {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: #787878;
}
.favoriteButton {
    width: 32px;
    height: 32px;
    background: white;

    margin: 8px;
    border-radius: 50%;
}
.favoriteButton > svg {
    fill: #d0d0d0;
}

.foggingScreen {
    top: 0;
    background: rgba(0, 0, 0, 0.47);
    position: absolute;
    width: 100vw;
    height: 100vh;

}
.foggingScreen button {
    position: absolute;
    top: 32px;
    right: 40px;
    width: 26px;
    height: 26px;
    background: url("/images/cross.svg");
    border: none;
}
.favoritesListEmty {
    padding-bottom: 72px;
}
.favoritesListEmty img{
    width: 264px;
    height: 198px;
    margin: auto;
}
.favoritesListEmty h6 {
    margin-top: 32px;
    font-weight: 700;
    font-size: 22px;
    line-height: 130%;
    text-align: center;
}
.favoritesListEmty p {
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
}
