.favoritesListEmty {
  margin-top: 235px;
}

.favoritesListEmty img {
  width: 264px;
  height: 198px;
  margin: auto;
}
.favoritesListEmty h6 {
  margin-top: 32px;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
}
.favoritesListEmty p {
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
}