.flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockAreaCenter {
    height: 328px;
    display: flex;
    align-items: center;
    justify-content: center;
}